APP_ENV=local
APP_DEBUG=false
APP_KEY=replace-with-at-least-32-random-characters
APP_URL=
APP_TIMEZONE=America/Argentina/Buenos_Aires
SESSION_SECURE_COOKIE=false

DB_HOST=db
DB_PORT=3306
DB_DATABASE=drugstore
DB_USERNAME=drugstore
DB_PASSWORD=replace-database-password
DB_ROOT_PASSWORD=replace-root-password

APP_PORT=8081
DB_FORWARD_PORT=3307
