/.env
/.phpunit.cache
/storage/logs/*.log
/storage/sessions/*
!/storage/logs/.gitkeep
!/storage/sessions/.gitkeep
/node_modules
/vendor
/.vite
/bootstrap/cache/*.php
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
!/bootstrap/cache/.gitkeep
!/storage/framework/cache/data/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/framework/sessions/.gitkeep
/hostinger-release.zip
.DS_Store
